/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  /* overflow: hidden; */
  z-index: 1000; /* 确保导航栏在其他内容的上方 */
  margin-bottom: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.nav-item {
  display: inline-block;
  font-family: 'Cursive', sans-serif; /* 花体字，确保用户设备支持 */
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease; /* 平滑变换效果 */
}
.navbar.fixed-top {
  background-color: rgba(0, 0, 0, 0.5) !important; /* 对于固定顶部导航栏也设置半透明背景 */
}
.nav-item:hover {
  transform: scale(1.4); /* 鼠标悬停时放大 */
}
/* ... 其他样式 ... */
.section {
  margin: 100px auto;
  width: 100%;
  max-width: 800px;
  z-index: 10; /* 确保内容在画布之上 */
  position: relative
}
.section h2 {
  font-size: 24px;
  /* font-size: 5vm; */
  text-decoration: underline;
}
.section h3 {
  font-size: 20px;
  /* font-size: 4.1vm; */
  font-style: italic;
}
.section p, .section ul {
  font-size: 20px;
  /* font-size: 4.1vm; */
  list-style-type: disc; 
  padding-left: 20px; 
  /* padding-left: 4.1vm;  */
  text-align: left;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
  /* padding: 5vm; */
  position: relative;
}

/* my particle backgrounds */
#bkgd{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1
  /* background-image: url(""); */
  background-repeat: repeat-x;
  /* background-position: 0 0; */
}

.custom-btn {
  /* background-color: #f8f9fa; /* 浅灰色背景 */ */
  background-color: #F0F0F0; /* 浅灰色背景 */
  color: #212529; /* 暗色文字 */
  font-size: 20px; /* 设置字体大小 */
  /* font-size: 4.2vm; /* 设置字体大小 */ */
  border: 0px solid #dcdcdc; /* 边框颜色，可选 */
  width: auto; /* 按钮宽度自适应内容 */
  padding-left: 0.5rem; /* 左填充 */
  padding-right: 0.5rem; /* 右填充 */
}
/* change the color when mouse is rest above */
.custom-btn:hover {
  background-color: #e2e6ea;
  color: #212529;
}

.carousel-item {
  height: 400px; /* Set a fixed height for carousel item */
  margin-bottom: 100px; /* Add extra space for the caption */
}
.carousel-item img {
  object-fit: contain; /* Images will be scaled to maintain their aspect ratio */
  max-height: 100%; /* Images will not exceed the height of the carousel item */
}
.carousel-caption {
  position: absolute;
  bottom: -100px; /* Adjust this value to move the caption below the image */
  left: 0;
  width: 100%;
  /* background-color: rgba(50, 50, 50, 0.0); /* Dark background with some transparency */ */
  /* color: #f8f9fa; /* Light text for better readability */ */
  /* color: #000000; /* Light gray text color */ */
  color: #1f2021; /* Light gray text color */
  font-size: 0.9rem; /* Smaller font size */
  padding: 0.5rem; /* Padding around the text */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Text shadow for better readability */
}
/* Remove the positioning so it doesn't sit over the image */
.carousel-caption.d-none,
.carousel-caption.d-md-block {
  position: static;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}
.carousel-control-prev-icon:after,
.carousel-control-next-icon:after {
  font-size: 20px;
  color: black;
}
.carousel-control-prev-icon:after {
  content: '<';
}
.carousel-control-next-icon:after {
  content: '>';
}
